*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
$transition: all 0.3s ease;
body {
  overflow-x: hidden;
  background: #ffffff;
}
.img-full {
  width: 100%;
  height: auto;
}

.section-header{
  background-image: url(../img/bg-header-fix.png);
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;

    .logo{
      width: 300px;
      position: relative;
      top: 165px;
    }

    .title-header{
      color: #BFA25A;
      font-family: 'Tillana', cursive;
      font-weight: 600;
      position: relative;
      top: 280px;
      text-align: center;
      padding: 0px 450px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 35px;
    }

    .image-header1{
      position: relative;
      width: 850px;
      margin-left: 200px;
      top: 150px;
    }
}

.section-about{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

    .waves{
      margin-top: -246px;
      object-fit: cover;
      width: 100%;
      z-index: 99;
      position: relative;
    }

    .content-about{
      text-align: left;
      padding: 0px 250px;
      margin-top: -30px;
      z-index: 999;

        .title-about{
          font-family: 'Salsa', cursive;
          margin-bottom: 80px;
          text-align: center;
        }

        p{
          font-family: 'Mulish', sans-serif;
          font-size: 14px;
          line-height: 25px;
        }

        .image-about-section{
          text-align: center;
          padding: 50px 0px;

            .image-about-2{
              height: 281px;
            }
        }
    }
}

.section-gallery{
  background-image: url(../img/desktop-wave.png);
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

    .image-gallery-section{
      width: 350px;
      margin-top: -150px;
    }

    .content-gallery{
      text-align: left;
      padding: 50px 250px;

        .content-quotes{
          color: #BFA25A;
          font-weight: 600;
          padding-top: 25px;
          padding-bottom: 25px;
          font-size: 16px;
        }
 
        p{
          font-family: 'Mulish', sans-serif;
          font-size: 14px;
          line-height: 25px;
          color: #fff;
        }
    }

    .carousel-inner {
        width: 400px;
        
      img{
        width: 100%;
        height: 100%;
      }
    }

    .carousel-control-prev {
      left: -70px;
    }

    .carousel-control-next {
      right: -70px;
    }

    .carousel-indicators{
      bottom: -50px;
    }
}

.section-gallery-extend{
  height: 500px;
  background: #093630;
}

.section-quotes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 250px 50px 250px;

    .icon-quotes{
      position: absolute;
      left: 0;
      padding-left: 350px;
      padding-top: 20px;
    }

    h2{
      font-family: 'Salsa', cursive;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
      color: #073630;
      letter-spacing: 1px;
      line-height: 40px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .coloum-quotes{
      background: #F0DB91;
      padding: 10px 80px;

        span{
          font-family: 'Salsa', cursive;
          font-size: 20px;
        }
    }

    p{
      font-family: 'Mulish', sans-serif;
      font-size: 14px;
      line-height: 25px;
      margin-top: 50px;
      text-align: center;
    }
}


.section-howto{
  background: #F2ECE1;
  text-align: center;
  padding: 50px 25px 0px 25px;
  position: relative;

    .imgs{
      width: 70%;
    }

    .content{
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0px;
      width: 55%;

        .icon-quotes{
          position: absolute;
          left: 0;
          padding-left: 100px;
          padding-top: 465px;
        }
    
        h2{
          font-family: 'Salsa', cursive;
          padding-left: 100px;
          padding-right: 100px;
          text-align: center;
          color: #073630;
          letter-spacing: 1px;
          line-height: 40px;
          padding-top: 80px;
          padding-bottom: 50px;
        }

        p{
          font-family: 'Mulish', sans-serif;
          font-size: 16px;
          line-height: 25px;
          text-align: left;
          margin-bottom: 5px;
        }

        ul{
          text-align: left;
          padding-left: 20px;

            li{
              font-family: 'Mulish', sans-serif;
              font-size: 14px;
              line-height: 25px;
            }
        }

        .content-ims{
          display: flex;
          justify-content: space-between;
          margin-top: 85px;

            .img1{
              position: relative;
              left: -65px;
              top: 2px;
            }

            .img2{
              position: relative;
              right: -65px;
              top: 2px;
            }
        }
    }
}


.section-contact{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 250px 100px 250px;

    p{
      font-family: 'Mulish', sans-serif;
      font-size: 14px;
      line-height: 25px;
      margin-top: 25px;
      text-align: left;
    }

    .contact-name{
      font-family: 'Salsa', cursive;
      margin-bottom: 0px;
      font-size: 26px;
    }

    .contact-job{
      margin-top: 0px;
    }

    .contact-wa{
      color: #fff;
      background: #2C9A6C;
      padding: 10px 50px;
      margin-top: 20px;

      &:hover{
        text-decoration: none;
      }
    }

    .image-contact{
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .icon-quotes{
      position: absolute;
      left: 0;
      padding-left: 400px;
      padding-top: 550px;
    }

    h2{
        font-family: 'Salsa', cursive;
        padding-left: 125px;
        padding-right: 125px;
        text-align: center;
        color: #073630;
        letter-spacing: 1px;
        line-height: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 32px;
    }

    .bg-contact{
      width: 50%;
      position: absolute;
      padding-top: 200px;
      z-index: -1;
    }
}


.section-footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #073630;
    padding: 100px 250px 10px 250px;
    color: #ffffff;

    .logo{
      width: 250px;
      margin-bottom: 50px;
    }

    .address{
      font-size: 15px;
    }

    .instagram{
      margin-left: -323px;
      font-size: 15px;
    }

    .lines{
      width: 100%;
      height: 0px;
      background: #496e69;
    }

    .copyright{
      font-size: 13px;
    }
}

